.form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 1.5rem auto;
    font-size: 1.25rem;
}

.form > label {
    font-family: "Imprima", sans-serif;
    font-size: 1.25rem;
    margin: 0.15rem auto;
}

.form > input {
    font-family: "Imprima", sans-serif;
    font-size: 1.25rem;
    padding: 0.35rem;
    border-radius: 8px;
    margin: 0.15rem auto 1.5rem auto;
    width: 80%;
    max-width: 400px;
}