.item {
    margin: 1rem;
}

.item > * {
    padding: 0.1rem;
}

.name {
    font-family: "Gabriela", serif;
    font-size: 1.45rem;
    font-weight: bold;
    /* color: #854AC7; */
    color: #644785;
    text-shadow: 1px 1px 2px #bbb;
}

.info {
    font-size: 1.25rem;
}

.name, .info {
    text-transform: capitalize;
}

.btn {
    font-family: "Imprima", sans-serif;
    background-color: #efe6fe;
    color: #644785;
    border: 2px solid #644785;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5em 0.65em;
    margin: 0.2em 0em;
    box-shadow: 2px 2px 2px 2px #aaa;
}

.btn:active {
    opacity: 0.5;
    transition: 0.3s;
}

.btn:hover {
    background-color: #372f46;
    color: white;
}