.item {
    margin: 1rem;
}

.item > * {
    padding: 0.1rem;
}

.name {
    font-family: "Gabriela", serif;
    font-size: 1.45rem;
    font-weight: bold;
}

.info {
    font-size: 1.25rem;
}

.name, .info {
    text-transform: capitalize;
}

.btn {
    font-family: "Imprima", sans-serif;
    background-color: black;
    color: white;
    border: 3px solid black;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    margin: 0.15rem;
    border-radius: 8px;
}

.btn:hover {
    background-color: white;
    color: black;
}