.menu {
    background-color: #4F2A79;
}

.nav {
    display: flex;
    gap: 2rem;
    margin: 1.5rem auto;
    max-width: 1000px;
    justify-content: center;
    padding: 1.25em 0.25em;
}

.link > a {
    color: #efe6fe;
    font-family: "Imprima", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.link > a:hover,
.link > a:active {
    opacity: 0.6;
}